<form class="needs-validation" novalidate="">
  <div class="row" *ngFor = "let item of conditionList">
    <div class="col-md-2">
      <label for="LeftValue">Field &nbsp;</label>
      <select class="custom-select d-block w-100" id="LeftValue" required="" [(ngModel)] = "item.LeftValue" [ngModelOptions]="{standalone: true}">
        <option value="ProductName">Product name</option>
        <option value="ProductPrice">Price</option>
      </select>
    </div>
    <div class="col-md-2">
      <label for="Operand"></label>
      <select class="custom-select d-block w-100" id="Operand" required="" [(ngModel)] = "item.Operand" [ngModelOptions]="{standalone: true}">
        <option value="=">=</option>
        <option value="<">&lt;</option>
        <option value=">">&gt;</option>
        <option value="Contains">Contains</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="value">Value &nbsp;</label>
      <input type="text" class="form-control-sm" id="Value" required="" [(ngModel)] = "item.RightValue" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="col-md-2">
      <button class="btn btn-xs btn-block" type="submit" (click) = "DeleteCondition(item)">-</button>
    </div>
    <div class="col-md-2">
      <button class="btn btn-xs btn-block" type="submit" (click) = "AddCondition()">+</button>
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>
  <div class="row">
    <div class="col-md-8">
        &nbsp;
    </div>
    <div class="col-md-4">
     <button class="btn btn-primary btn-lg btn-block" type="submit" (click) = "FindProduct()">Search</button>
    </div>
  </div>
</form>

<div class="flex-container">
    <app-product class="card" *ngFor="let product of compressedProductList" [compressedProduct]="product"></app-product>
</div>

<div [hidden]="hiddenDiv">
  <h1>Nothing found!</h1>
</div>

