<div class="container">
  <div class="row">
    <div class="col-md-1">
      <label>UserName</label>
    </div>
    <div class="col-md-4">
      <input type="text" [(ngModel)]="login" class="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <label>Password</label>
    </div>
    <div class="col-md-4">
      <input type="text" [(ngModel)]="password" class="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <label>ConfirmPassword</label>
    </div>
    <div class="col-md-4">
      <input type="text" [(ngModel)]="confirmPassword" class="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <label>Email</label>
    </div>
    <div class="col-md-4">
      <input type="text" [(ngModel)]="email" class="" />
    </div>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-primary" (click)="register(login, password, confirmPassword, email)">Register</button>
  </div>
</div>


