<p>
  register-user works!
</p>

<div class="container">
  <div class="row">
    <div class="col-md-1">
      <label>UserName</label>
    </div>
    <div class="col-md-4">
      <input type="text" #username class="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <label>Password</label>
    </div>
    <div class="col-md-4">
      <input type="text" #password class="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <label>ConfirmPassword</label>
    </div>
    <div class="col-md-4">
      <input type="text" #confirmPassword class="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <label>Email</label>
    </div>
    <div class="col-md-4">
      <input type="text" #email class="" />
    </div>
  </div>
  <div class="row">
    <button type="submit" class="btn btn-primary" (click)="register(username.value, password.value, confirmPassword.value, email.value)">Register</button>
  </div>
</div>

User :
<p>{{userInfo.Email}}</p>
<p>{{userInfo.Login}}</p>
<p>{{userInfo.Password}}</p> 