  <div class="row" *ngFor="let user of users let i=index">
    <div class="col-md-1 col-sm-1 col-xs-1">
      {{user.Id}}
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      {{user.Login}}
    </div>
    <div class="col-md-3 col-sm-3 col-xs-3">
      {{user.Email}}
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      <button *ngIf="!user.IsBanned" class="btn btn-success btn-xs" (click)="SetFlagIsBanned(user)"> <i class="fa fa-check"></i> Set ban </button>
      <button *ngIf="user.IsBanned" class="btn btn-danger btn-xs" (click)="RemoveFlagIsBanned(user)"><i class="fa fa-trash-o"></i> Remove ban</button>
    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      <!-- <button class="btn btn-success btn-xs" (click)="GetPermission(user)"> <i class="fa fa-check"></i> set app-set-permission </button> -->
      <input #SeeCheckBox
      id="SeeCheckBox"
      type="checkbox"
      [checked]="user.CanSee"
      (change)="GetPermission(user)" />

      <input #CreateCheckBox
      id="CreateCheckBox"
      type="checkbox"
      [checked]="user.CanCreate"
      (change)="GetPermission(user)" />

      <input #CreateCheckBox
      id="CreateCheckBox"
      type="checkbox"
      [checked]="user.CanDelete"
      (change)="GetPermission(user)" />

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
      <button  class="btn btn-success btn-xs" (click)="SetPermission(user)"><i class="fa fa-trash-o"></i> Set permission</button>
    </div>
  </div>
