<div class="container">
  <!--<table class="table" *ngIf="isLoaded">-->
  <div class="row">
    <div class="col">
      <table class="table table-bordered" *ngIf="isLoaded">
        <thead>
          <th class="col-md-3">Наименование</th>
          <th class="col-md-3">Описание</th>
          <th class="col-md-3">Цена</th>
          <th class="col-md-3"></th>
        </thead>
        <tbody>
          <tr *ngFor="let item of cart.ContentCartCollection">
              <td class="col-md-3">{{item.ContentName}}</td>
              <td class="col-md-3">{{item.DescriptionItem}}</td>
              <td class="col-md-3">{{item.PriceItem}}</td>
              <td class="col-md-3">
                <input type="button" class="btn btn-primary btn-sm" value="Удалить" (click)="delete()" />
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="showError">
    {{errorMessage}}
  </div>
  <div class="row">
    <button class="btn btn-primary btn-sm" (click)="getCart()">GetCart</button>
    <app-payment [cart]=cart>
    </app-payment>
    <button type="submit" class="btn btn-primary btn-sm" (click)="paypalPayment()">Jgk</button>
    <button type="submit" class="btn btn-primary btn-sm" (click)="clearCart()">Очистить корзину</button>
  </div>
</div>
