<!--<div class="container" *ngIf="!isPayment">-->
<div class="starter-template">
  <div class="row">
    <table class="table table-bordered">
      <thead>
        <th class="col-md-3">Наименование</th>
        <th class="col-md-3">Описание</th>
        <th class="col-md-3">Цена</th>
        <th class="col-md-3"></th>
      </thead>
      <tbody>
        <tr *ngFor="let item of cart.ContentCartDtoCollection">
          <td class="col-md-3">{{item.ContentName}}</td>
          <td class="col-md-3">{{item.DescriptionItem}}</td>
          <td class="col-md-3">{{item.PriceItem}} $</td>
          <td class="col-md-3">
            <input type="button" class="btn btn-primary btn-sm" value="Удалить" (click)="delete(item)" />
          </td>
        </tr>
        <tr>
          <td class="col-md-3">
            <label>Количество элементов: {{cart.CountItemsInCollection}}</label>
          </td>
          <td class="col-md-3"></td>
          <td class="col-md-3">
            <label>Сумма: {{cart.PriceAllItemsCollection}} $</label>
          </td>
          <td class="col-md-3"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="alert alert-danger" role="alert" *ngIf="showError">
    {{errorMessage}}
  </div>
  <div class="row">
    <button type="submit" class="btn btn-primary btn-sm" (click)="paypalPayment()">Оплатить</button>
    <button type="submit" class="btn btn-primary btn-sm" (click)="clearCart()">Очистить корзину</button>
  </div>

</div>
<div class="container" *ngIf="isPayment">
  <app-payment [cart]=cart [url]=urlForPayment></app-payment>
</div>
