<form class="form-signin" #f="ngForm" (ngSubmit)="recoveryPassword(f)">
  <h2 class="form-signin-heading">{{model.Email}} please enter new password</h2>
  <div class="form-group" [class.has-danger]="password.invalid && password.touched">
    <label for="inputPassword" class="sr-only">Password</label>
    <input #password="ngModel" type="password" name="password" [(ngModel)]="model.Password" class="form-control" placeholder="Password"
      required minlength="5">
    <div *ngIf="password.invalid && password.touched && password.errors.required" class="alert alert-danger"> Enter password</div>
    <div *ngIf="password.invalid && password.touched && password.errors.minlength" class="alert alert-danger">A password needs to have at least 5 characterss</div>
  </div>
  <div class="form-group" [class.has-danger]="confirmPassword.invalid && confirmPassword.touched">
    <label for="inputPassword" class="sr-only">Confirm password</label>
    <input #confirmPassword="ngModel" type="password" name="confirmPassword" [(ngModel)]="model.ConfirmPassword" class="form-control"
      placeholder="Confirm password" required minlength="5">
    <div *ngIf="confirmPassword.invalid && confirmPassword.touched && confirmPassword.errors.required" class="alert alert-danger">Enter confirmPassword</div>
    <div *ngIf="confirmPassword.invalid && confirmPassword.touched && confirmPassword.errors.minlength" class="alert alert-danger">A password needs to have at least 5 characterss</div>
  </div>
  <div *ngIf="!confirmPassword.invalid && confirmPassword.touched && confirmPassword.value != password.value" class="alert alert-danger">A passwords not equal</div>
  <div class="confirm" *ngIf="showMessage">
    <div Class="alert alert-danger" role="alert">
      <h4 class="alert-heading">{{message}}</h4>
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Recovery</button>
</form>