<form class="form-signin"  (ngSubmit)="recoveryPassword()">
  <h2 class="form-signin-heading">{{model.Email}} please enter new password</h2>
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" name="password" [(ngModel)] = "model.password" class="form-control" placeholder="Password" required="">
  <label for="inputPassword" class="sr-only">Confirm password</label>
  <input type="password" name= "confirmPassword" [(ngModel)] = "model.confirmPassword" class="form-control" placeholder="Confirm password" required="">
  <button class="btn btn-lg btn-primary btn-block" type="submit" >Recovery</button>
</form>
