<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col">
      <table class="table" *ngIf="isLoaded">
        <thead>
          <th>Id</th>
          <th>Name</th>
          <th>Created</th>
        </thead>
        <tbody>
          <tr *ngFor="let item of users">
            <td>{{item.Id}}</td>
            <td>{{item.Login}}</td>
            <td>{{item.Email}}</td>
          </tr>
        </tbody>
      </table>
      <button class="btn btn-lg btn-info mt-3" (click)="getAll()">Load all</button>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-3">
      <div class="alert alert-danger" role="alert" *ngIf="showError">
        Item does not exist!
      </div>
      <div class="form-group">
        <label for="exampleItemId">Item id</label>
        <input type="number" class="form-control" id="exampleItemId" aria-describedby="itemHelp" #id placeholder="Enter ID">
        <small id="itemHelp" class="form-text text-muted">It's simple description</small>
      </div>
      <button type="submit" class="btn btn-primary btn-sm" (click)="SetPermission(id.value)">Set</button>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="exampleItemId2">Item Login</label>
        <input type="number" class="form-control" id="exampleItemId2" aria-describedby="itemHelp2" placeholder="Enter ID" [(ngModel)]="currentUser.Login">
        <small id="itemHelp2" class="form-text text-muted">It's simple description</small>
      </div>
      <div class="form-group">
        <label for="exampleItemId3">Item Email</label>
        <input type="text" class="form-control" id="exampleItemId3" aria-describedby="itemHelp3" placeholder="Enter Name" [(ngModel)]="currentUser.Email">
        <small id="itemHelp3" class="form-text text-muted">It's simple description</small>
      </div>

      <button type="submit" class="btn btn-primary btn-sm" (click)="SetPermission(id.value)">Save</button>
    </div>
  </div>
</div>
