<form class="form-signin">
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="firstName">First name</label>
      <input  name = "firstName" [(ngModel)]="firstName" type="text" class="form-control" id="firstName" placeholder="" value="" required="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="lastName">Last name</label>
      <input name = "lastName" [(ngModel)]="lastName" type="text" class="form-control" id="lastName" placeholder="" value="" required="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="dateOfBirth">Date of Birth</label>
      <input name = "dateBirth" [(ngModel)]="dateBirth" type="date" class="form-control" id="dateOfBirth" placeholder="" value="" required="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label for="phone">Phone</label>
      <input name = "phone" [(ngModel)]="phone" type="text" class="form-control" id="phone" placeholder="" value="" required="">
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3">
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="saveProfile()">Save</button>
    </div>
  </div>

