<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div [ngSwitch]="productInfo.ProductType">
        <div *ngSwitchCase="1">
          <img src="{{Base64Image}}" width="100%" />
        </div>
        <div *ngSwitchCase="2">
          <video src="{{Base64Video}}" controls width="100%"></video>
        </div>
        <div *ngSwitchCase="3">
          <audio src="{{Base64Audio}}" controls></audio>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="list-group">
        <div class="list-group-item-text">
          <h4>Price</h4>
          <p>{{productInfo.ProductPrice | currency}}</p>
        </div>
        <div class="list-group-item-text">
          <h4>Name</h4>
          <p>{{productInfo.ProductName}}</p>
        </div>
        <div class="list-group-item-text">
          <h4>Description</h4>
          <p>{{productInfo.Description}}</p>
        </div>
      </div>
      <div class="btn-group" *ngIf="accauntService.isAuthorized()">
        <div class="btn btn-primary" type="button" (click)="ToCart()">Incart</div>
        <div class="btn btn-primary" type="button" (click) = "Download()">Download</div>
      </div>
    </div>
  </div>

  <div class = "alert alert-danger" *ngIf = "ErrorMessage != ''">
    <h1>{{ErrorMessage}}</h1>
  </div>
</div>
