<button type="button" class="btn btn-link" (click) = "HideShowSearchFilter()">{{TextSearchFilter}}</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn btn-link" type="submit" (click)="FindProduct()" [hidden]="DivSearchFilterHidden"><b>Start search</b></button>
<div [hidden]="DivSearchFilterHidden" class="row">
  <div class="form-group">
    <div class="row pt-3" *ngFor="let item of conditionList">
      <div class="col-md-3">
        <select class="custom-select d-block w-100" id="LeftValue" required="" [(ngModel)]="item.LeftValue" [ngModelOptions]="{standalone: true}">
          <option value="ProductPrice">Price</option>
          <option value="ProductName">Product name</option>
          <option value="Description">Description</option>
        </select>
      </div>
      <div class="col-md-2">
        <select class="custom-select d-block w-100" id="Operand" required="" [(ngModel)]="item.Operand" [ngModelOptions]="{standalone: true}">
          <option value="=">=</option>
          <option value="<">&lt;</option>
          <option value=">">&gt;</option>
          <option value="Contains">Contains</option>
        </select>
      </div>
      <div class="col-md-5">
        <input type="text" class="form-control-sm w-100" id="Value" required="" [(ngModel)]="item.RightValue" [ngModelOptions]="{standalone: true}">
      </div>

      <div class="col-md-1">
        <button class="btn btn-outline-success" type="submit" (click)="DeleteCondition(item)">-</button>
      </div>
      <div class="col-md-1">
        <button class="btn btn-outline-success" type="submit" (click)="AddCondition()">+</button>
      </div>
    </div>
    <hr>
  </div>
</div>

<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="btn-group btn-group-md">
      <button class="btn btn-primary" (click)="filter(0)">All</button>
      <button class="btn btn-primary" (click)="filter(1)">Image</button>
      <button class="btn btn-primary" (click)="filter(2)">Video</button>
      <button class="btn btn-primary" (click)="filter(3)">Music</button>
    </div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <div class="btn-group btn-group-md">
      <button class="btn btn-primary" (click)="sort(0)">Ascending</button>
      <button class="btn btn-primary" (click)="sort(1)">Descending</button>
    </div>
  </div>
  <div class="col-md-2"></div>
</div>

<div class="row">
  <div class="flex-column">
    <app-product class="card" *ngFor="let product of filtredProduct | paginate: { itemsPerPage: 6, currentPage: p }" [compressedProduct]="product"></app-product>
  </div>
</div>
<div class="row">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>

<div [hidden]="DivNotFoundHidden">
    <h1>Nothing found!</h1>
</div>
