<div class="row justify-content-between">
  <div class="btn-group btn-group-md">
    <button class="btn btn-primary" (click)="filter(0)">All</button>
    <button class="btn btn-primary" (click)="filter(1)">Image</button>
    <button class="btn btn-primary" (click)="filter(2)">Video</button>
    <button class="btn btn-primary" (click)="filter(3)">Music</button>
  </div>
  <div class="btn-group btn-group-md">
      <button class="btn btn-primary" (click)="sort(0)">Ascending</button>
      <button class="btn btn-primary" (click)="sort(1)">Descending</button>
  </div>
</div>
<div class="row">
  <div class="flex-column">
    <app-product class="card" *ngFor="let product of filtredProduct | paginate: { itemsPerPage: 6, currentPage: p }" [compressedProduct]="product"></app-product>
  </div>
</div>
<div class="row">
  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
