<div class="container">
  <h3 style="margin-top: 20px">Upload product options</h3>
  <form #form="ngForm" name = "form">
    <div class="form-group"  [class.has-danger] = "productName.invalid && productName.touched">
      <label class="control-label">
        <h6>Product name:</h6>
      </label>
      <input #productName= "ngModel" pattern=".....+" maxlength="50" required type="text" class="form-control" placeholder="Enter product name" name="productName" [(ngModel)]="uploadProduct.ProductName">
      <div *ngIf = "productName.invalid && productName.touched" class="alert alert-danger">
        Product name must be more then 5 characters
      </div>
    </div>
    <div class="form-group" [class.has-danger] = "Description.invalid && Description.touched">
      <label class="control-label"><h6>Description:</h6></label>
      <input #Description = "ngModel" name="Description" type="text" pattern=".+" maxlength="300" required class="form-control" placeholder="Enter description" [(ngModel)]="uploadProduct.Description"/>
    <div *ngIf = "Description.invalid && Description.touched" class="alert alert-danger"> Enter description </div>
    </div>
    <div class="form-group" [class.has-danger] = "productPrice.invalid && productPrice.touched">
      <label class="control-label"><h6>Price:</h6></label>
      <input #productPrice = "ngModel" type="text" pattern="\d+(\.\d{0,2})?" required class="form-control" placeholder="Enter product price" name="productPrice" [(ngModel)]="uploadProduct.ProductPrice">
      <div *ngIf = "productPrice.invalid && productPrice.touched" class="alert alert-danger"> Enter current price </div>
    </div>
    <div class="form-group">
      <label class="control-label"></label>
      <input type="file" accept="image/*,audio/*,video/*" (change)="handleFileSelect($event)"/>
    </div>
    <div class="form-group" *ngIf="uploadProduct.UploadProduct && form.valid">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" (click)="AddProduct(form)" >
          Upload
        </button>
      </div>
    </div>
  </form>
</div>
