<div>
  <div class="row">
    <div class="col-md-3">Choose your language:</div>
    <div class="col-md-6">
      <div>
        <input type="radio" id="Languages.Eng" value="Eng" name="Languages" [checked]="InterfaceLanguage === 1" (click)="setLanguage(1)">
        <label for="Languages.Eng">English</label>
      </div>
      <div>
        <input type="radio" id="Languages.Rus" value="Rus" name="Languages" [checked]="InterfaceLanguage === 2" (click)="setLanguage(2)">
        <label for="Languages.Rus">Russian</label>
      </div>
      <div>
        <input type="radio" id="Languages.Bel" value="Bel" name="Languages" [checked]="InterfaceLanguage === 3" (click)="setLanguage(3)">
        <label for="Languages.Bel">Bel</label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      Notification Status:
    </div>
    <div class="col-md-6">
      <input type="checkbox" [checked]="NotificationStatus" [(ngModel)]="NotificationStatus" class="checkbox" />
    </div>
  </div>
</div>
<hr />

<div class="row">
  <div class="col-md-3 mb-3">
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="saveSettings()">Save</button>
  </div>
  <div class="col-md-3 mb-3">
    <button [routerLink]="['/product-list']"  class="btn btn-lg btn-primary btn-block" type="submit">Back</button>
  </div>
</div>


