<form class="form-signin" #f="ngForm" (ngSubmit)="forgotPassword(f)" *ngIf="!showMessage">
  <h2 class="form-signin-heading">Enter Your Email</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
  <input #email= "ngModel" id="inputEmail" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" name="email" [(ngModel)]="model.Email" class="form-control" placeholder="Email address" required type="email" autofocus="">
  <div *ngIf = "email.invalid && email.touched" class="alert alert-danger">
    Enter valid Email
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Reset</button>
</form>
<div class="confirm" *ngIf="showMessage">
  <div [ngClass]="isError ? 'alert alert-danger' : 'alert alert-success'" role="alert">
    <h4 class="alert-heading">{{message}}</h4>
  </div>
</div>